{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "semi": true,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}